body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.response {
  margin: 1rem;
}

.player-active {
  background-color: green;
}

.player-inactive {
  background-color: red;
}

.develop{
  padding: 1rem;
  margin: 1rem 0;
  background-color: rgb(218, 218, 218);
  border: 1px grey dashed;
}